#map
{
    height: 400px;
}

#routeList input {
    width: 50px;
    display: inline;
}

#map
{
    margin-bottom: 20px;
}

#routeList span.glyphicon
{
    margin-right: 5px;
    font-size: 1.2em;
}

#routeList button.close
{
    margin-left: 5px;
}